*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  float: left;
  color: rgb(56, 56, 56);
  text-decoration: none;
  padding: 20px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: black;
}

.container-item {
  border-radius: 12px;
  background-color: #fff;
  width: 80%;
  position: relative;
  top: 100px;
  left: 10%;
  height: 500px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 30px;
  margin-left: 130px;
}

.container {
  display: flex;
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
}

.slider {
  float: left;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  left: 60px;
}

#photo {
  margin-top: 50px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease;
}

#photo.show {
  opacity: 1;
  transform: scale(1);
}

.buy-item {
  background-color: #edf2f27e;
  border: 1px solid grey;
  float: right;
  width: 40%;
  height: 450px;
  position: relative;
  right: 50px;
  top: 22px;
  border-radius: 12px;
}

.buy-item h2 {
  text-align: center;
  margin-left: 0;
}

.buy-item a {
  background-color: #10ffff7e;
  padding: 20px 30%;
  border-radius: 10px;
  position: relative;
  top: 50px;
  left: 7%;
  color: black;
  text-decoration: none;
}

.buy-item button,
.buy-item p {
  display: block;
  margin-left: 5%;
  font-size: 20px;
  border: none;
  background: none;
}

.item {
  margin-left: 20px;
  border-radius: 12px;
  width: 25%;
  height: fit-content;
  color: black;
  background-color: #fff;
}

.item img {
  border-radius: 12px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.item .buy {
  background-color: #10ffff7e;
  padding: 10px 30%;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

footer {
  font-size: 20px;
  background-color: rgb(52, 51, 51);
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 200px;
  height: 250px;
  padding-top: 40px;
}

@media (max-width: 992px) {

  .container-item {
    width: 95%;
    left: 2.5%;
    height: auto;
    padding-bottom: 40px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
  }

  .slider {
    left: 0;
    float: none;
    margin: auto;
  }

  #photo {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .buy-item {
    float: none;
    width: 90%;
    right: 0;
    margin: 30px auto 0 auto;
    height: auto;
    padding-bottom: 30px;
  }

  .item {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {

  nav {
    height: auto;
  }

  nav ul li a {
    float: none;
    display: block;
    text-align: center;
    padding: 15px;
  }

  h2 {
    font-size: 22px;
    margin-left: 20px;
  }

  .container-item {
    top: 80px;
  }

  .item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .item img {
    height: auto;
  }

  footer {
    height: auto;
    padding: 30px 10px;
  }
}

@media (min-width: 1200px) {

  .container-item {
    max-width: 1100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container {
    max-width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
  }

  #photo {
    width: 350px;
    height: 450px;
  }

  .buy-item {
    width: 420px;
  }

  .item {
    width: 23%;
  }
}
